! doctype html
html
  head
    meta name="robots" content="noindex,nofollow"
    link href="/compiled/screen.0.1.css" rel="stylesheet" type="text/css"
    script id="packages_tpl" type="text/html"
      | <ul>{{#packages}}<li>{{#pkg}}
          {{Name}}:
          <ul>
            <li>version: {{Version}}</li>
            <li>pkgid: {{ID}}</li>
            <li>votes: {{NumVotes}}</li>
            <li>url: <a href="{{URL}}">{{URL}}</a></li>
            <li>aur-tarball: <a href="http://aur.archlinux.org{{URLPath}}">{{URLPath}}</a></li>
            <li>description: {{Description}}</li>
          </ul><br>
        {{/pkg}}</li>{{/packages}}</ul>
    script id="error_tpl" type="text/html"
      | <div id="error">{{short_msg}}<br>{{long_msg}}</div>
  body
    #searchform
      form
        label for="q" Search
        input id="q" name="q" type="text"
        #ajax-loading
          img height="24" src="/static/ajax-loading.gif" width="24"
        br
    #counter
      ' results:
      span id="result_count" 0
    #response
    script src="http://code.jquery.com/jquery-1.5.min.js" type="text/javascript"
    script src="/static/ICanHaz.min.js" type="text/javascript"
    script src="/compiled/search.0.1.js" type="text/javascript"
