#error {
  text-align: center;
}
#links {
  text-align: right;
}
#result-count {
  font-weight: bold;
}
#ajax-loading {
  position: relative;
  left: -25px;
  top: 5px;
  display: none;
}
#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  display: none;
  font-size: larger;
}
